.closing_folder{
    position: absolute;
    max-width: 320px;
    max-height: 280px;
    margin       : auto;
    width        : 40vw;
    height       : 35vw;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background   : transparent;
}

/* .closing_folder img{
    width: 25vw;
    height: 25vw;
    max-width: 200px;
    max-height: 200px;
    border-style: solid;
    border-radius: 50%;
    border-color: white;
} */

.frontimg{
    position     : absolute;
    margin:auto;
    width: 25vw;
    height: 25vw;
    max-width: 200px;
    max-height: 200px;
    left: 0;
    right: 0;
    border-style: solid;
    border-radius: 50%;
    border-color: white;
    z-index: 4;
}

.backimg{
    position     : absolute;
    margin:auto;
    width: 25vw;
    height: 25vw;
    max-width: 200px;
    max-height: 200px;
    left: 0;
    right: 0;
    border-style: solid;
    border-radius: 50%;
    border-color: white;
}

.box{
    position     : absolute;
    margin       : auto;
    max-width: 320px;
    max-height: 232px;
    width        : 40vw;
    height       : 29vw;
    left: 0;
    right: 0;
    bottom: 0;
    background   : linear-gradient(to bottom, rgb(94, 175, 255), rgb(0, 128, 255));
    border-radius: 20px 20px 20px 20px;
    z-index: 3;
}

.convex{
    position: absolute;
    max-width: 160px;
    max-height: 264px;
    margin       : auto;
    width        : 20vw;
    height       : 33vw;
    left: 0;
    right: 20;
    bottom: 0;
    background   : linear-gradient(to bottom, rgba(0, 93, 187, 0.73), rgba(0, 127, 255, 0.73));
    border-radius: 20px 20px 0px 20px;
    z-index: -1;
}

.urabox{
    position: absolute;
    max-width: 160px;
    max-height: 248px;
    margin       : auto;
    width        : 20vw;
    height       : 31vw;
    left: 20;
    right: 0;
    bottom: 0;
    background   : linear-gradient(to bottom, rgba(0, 93, 187, 0.73), rgba(0, 127, 255, 0.73));
    border-radius: 0px 20px 20px 0px;
    z-index: -1;
}