.Pages{
    overflow: hidden;
    position: absolute;
    bottom:10vh;
    background: linear-gradient(to bottom, rgba(0, 127, 255, 0.73), #007fff);
    border-radius: 50px;
    padding:0.5vw;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.4);
}

.Github, .Qiita{
    float: left;
    width: 5vw;
    height: 5vw;
    z-index: 30;
    position: relative;
    padding: 10px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3vw;
    z-index: 2;
}

.Seminar {
    float: left;
    width: 5vw;
    height: 5vw;
    background-color: #74ABCA;
    z-index: 30;
    position: relative;
    padding: 10px;
    color: white;
    border-radius: 50%;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3vw;
    z-index: 2;
}

.Github img,.Seminar img, .Qiita img{
    width: 6vw;
    height: 6vw;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    z-index: 2;
}
